/* SET variable */
:root{
    /*Color*/

    --bleu: #0C8195;
    /*!*--bleu: #121C3A;*!*/
    /*--bleu: #237CB5;*/
    --jaune: #F1C111;
    --yellow: #ffae00;
    --black: #000
    /*Font*/

    /*Font size*/

}